{% include "base.html.twig" %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div style="margin-top:10em">
    <div class="wrapper fadeInDown">
        <div class="formContent">
            <h1 class="login-title">Přihlášení</h1>
            <form action="{{ path('app_login') }}" method="post">
                <input name="_username" id="username" type="text" class="fadeIn second" placeholder="Username" value="{{ last_username }}" />
                <input name="_password" id="password" type="password" class="fadeIn third" placeholder="Password" value="" />
                <input type="submit" class="fadeIn fourth" value="Login"/>
            </form>
        </div>
    </div>
</div>

{% block stylesheet %}
    <link href="{{ asset("css/security/login.css") }}" rel="stylesheet">
{% endblock %}
